

#work-page {

	header {
		.menu-content {
			opacity: 1;
			right: 6%;
		}
	}

	.main-view-work {
		position: relative;
		width: 100%;
		height: 500px;
		padding: 0 6%;
		margin-bottom: 240px;

		.senter-work {
			display: inline-block;
			width: 50%;
			float: left;
			margin-top: 240px;
			padding-right: 24px;
			text-align: left;
			color: $midleGray;

			#title-work,
			.job {
				opacity: 0;
				@include prefix-transform(translateX(-20%));
			}

			.job {
				margin-top: 16px;
			}
		}

		.img-work {
			position: relative;
			display: inline-block;
			width: 50%;
			height: 550px;

			.link {
				position: absolute;
				display: block;
				bottom: 80px;
				right: -16px;
				color: $yellow;
				letter-spacing: 4px;
				padding: 16px 40px;
				background-color: $black;
				transform: translateX(0);
				opacity: 0;
				z-index: 5;

				&:hover{
					color: $black;
					background-color: $yellow;
				}

				&:hover + .area-mainimg > .workpic {
					width: 103%;
					opacity: .5;
				}
			}

			.area-mainimg {
				position: relative;
				width: 100%;
				height: 100%;
				overflow: hidden;
				top: -5%;
				margin: 0 auto;
				opacity: 0;
				background-color: $black;

				img {
					position: absolute;
					width: 100%;
					height: auto;
					max-width: 180%;
					max-height: 150%;
					top: 50%;
					left: 50%;
					@include prefix-transform(translate(-50%, -50%) scale(1.3));
					transition: all 1s ease;
	  			}
			}
		}

		.bg-black {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: $black;
/*			@include prefix-transform(translateX(-90%) skewX(-40deg));
*/			z-index: -1;
		}
	}


	.para-part {
		opacity: 0;
		filter: blur(5px);
		transition: all .8s ease;

		&.fade-in-para {
			opacity: 1;
			filter: blur(0);
		}
	}



	.overview {
		margin-bottom: 160px;

		.title-projects {
			width: 20%;
			float: left;
		}

		.paragraph-projects {
			display: inline-block;
			width: 80%;
		}
	}


	.previous {
		overflow: hidden;
		margin-bottom: 160px;

		.img-pre {
			width: 50%;
			float: left;

			img {
				width: 100%;
			}
		}

		.gif-ani {
			display: none;
		}

		.explanation-projects {
			width: 50%;
			display: inline-block;
			padding-left: 4%;

			.title-s-work {
				margin-bottom: 32px;
			}
		}
	}

.fade-in-para {
	opacity: 1;
	@include prefix-transform(translateY(0));
}

	.website {

		.title-projects {
			width: 20%;
			float: left;
		}

		.paragraph-projects {
			display: inline-block;
			width: 80%;
		}

		.front-page {
			margin: 40px 0;
			width: 100%;
			box-shadow: 0 0 24px rgba(0, 0, 0, 0.2);
			opacity: 0;
			filter: blur(8px);
			@include prefix-transform(translateY(16px) scale(.98));
			transition: all .6s ease;

			&.fp-fadein {
				opacity: 1;
				filter: blur(0);
				@include prefix-transform(translateY(0) scale(1));
			}

			img {
				width: 100%;
			}
		}

		.sp-site {
		    width: 100vw;
		    margin: 0px -15.8%;
				opacity: 0;
				filter: blur(5px);
				@include prefix-transform(translateY(16px) scale(1.05));
				transition: all .6s ease;

				&.ss-fadein {
					opacity: 1;
					filter: blur(0);
					@include prefix-transform(translateY(0) scale(1));
				}

			&.app-img {
				margin-top: 40px;
			}
		}
	}


	.title-s-work {
		position: relative;
		transform: translateX(-20px);
		opacity: 0;
		transition: all .6s ease;

		&.fade-in-title-s {
		transform: translateX(0);
		opacity: 1;

			&:after {
				width: 60px;
			}
		}

		&:after {
		    position: absolute;
		    content: '';
		    display: block;
		    width: 0;
		    height: 2px;
		    bottom: -4px;
		    left: -6%;
		    background-color: #DEDC00;
		    transition: width 1s ease;
		}
	}

	.next-project {
		position: relative;
		display: block;
		width: 100%;
		height: 200px;
		padding-top: 88px;
		text-align: center;
		overflow: hidden;
		background-color: $black;
		transition: all .6s ease;

		.wrap-title-next {
			position: relative;

			.title-next {
			    display: block;
			    position: relative;
			    margin: auto;
					color: $lightGray;
					font-weight: 200;
					line-height: 2rem;
					letter-spacing: .2rem;
					z-index: 5;
					transition: all .6s cubic-bezier(0.4, 0, 1, 1);
			}

			.bg-font-next {
			    display: block;
			    position: absolute;
			    top: 0;
			    right: 0;
			    left: 0;
			    bottom: 0;
			    margin: auto;
				color: $lightGray;
				font-size: 12rem;
				opacity: .15;
				z-index: 1;
			}
		}

		.bg-next-img {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
	    	opacity: .3;
			height: 100%;
			z-index: 0;
			transition: all .6s cubic-bezier(0.4, 0, 1, 1);

			&.to-work1 {
				background-image: url('../images/work_01.jpg');
			}

			&.to-work2 {
				background-image: url('../images/work_02_5.jpg');
			}

			&.to-work3 {
				background-image: url('../images/work_03.jpg');
			}
		}

		&:hover {

			.wrap-title-next {
				.title-next {
					letter-spacing: .4rem;
				}
			}

			.bg-next-img {
				filter: blur(6px);
			}
		}
	}
}




@include phone {

	#work-page {
		.main-view-work {
			margin-bottom: 200px;

			.senter-work {
				position: relative;
				z-index: 5;
			}

			.img-work {
				z-index: 0;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;

				.link {
					color: $yellow;
					border: 2px solid $yellow;
					right: 16px;
					bottom: 16px;
					background-color: rgba(255, 255, 255, 0);
				}

				.area-mainimg {
					top: 0;
					opacity: .2;

					.workpic {
						width: auto;
						height: 100%;
						@include prefix-transform(translate(-50%, -50%) scale(1));
					}
				}
			}
		}

		.paragraph-projects {
			margin-top: 32px;
			width: 100%;
		}

		.overview,
		.previous,
		.website {

			.img-pre {
				width: 100%;
				float: none;
				margin-bottom: 16px;
			}

			.title-projects {
				width: 100%;
				float: none;

				.title-s-work {
					&:after {
						left: -10px;
					}
				}
			}

			.paragraph-projects,
			.explanation-projects {
				width: 100%;
				margin-top: 32px;
			}

			.sp-site {
				margin: 0px -6.4%;
			}
		}

		.image-movie {
			.img-pre {
				display: none;
			}

			.gif-ani {
				display: block;
				height: 28vh;
				width: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-image: url(../movies/ourmassage.gif);
			}
		}

		.next-project {
			height: 140px;
	    padding-top: 64px;

			.bg-next-img {
				left: -5%;
				height: 110%;
				width: 110%;
				margin: auto;
				opacity: 0.5;
				filter: blur(2px);
			}
		}
	}
}
