

html {
  font-size: 62.5%;
}

body {
	width: 100%;
	font-family: 'Lato', sans-serif, Arial, Meiryo, "Hiragino Kaku Gothic ProN", sans-serif;
	font-size: 1.4rem;
	font-weight: 300;
	background-color: $bgWhite;
	line-height: 2rem;
	margin: 0;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1 {
	font-size: 3.6rem;
	line-height: 4.6rem;
	font-weight: 900;
	letter-spacing: 1px;
	margin: 0;
}

h2 {
		font-size: 4rem;
		font-weight: 100;
		letter-spacing: 2px;
		margin: 0;
}

h3 {
	color: $black;
	letter-spacing: 1px;
	font-weight: 900;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
	font-size: 1.6rem;
	line-height: 3rem;
	letter-spacing: 1px;
	color: $midleGray;
}

a {
	color: $midleGray;
	letter-spacing: 1px;
	text-decoration: none;
	transition: .3s;
  cursor: pointer;

	&:hover {
		color: $yellow;
	}
}

ul {
	list-style: none;
	margin: 0;
}

li {
	letter-spacing: 1px;
	margin: 0;
}

figure {
	margin: 0;
	padding: 0;
}

.bold {
	font-weight: 900;
}

.add-blur {
	filter: blur(10px);
	transition: all .6s ease;
}


.yester {
	font-family: 'Yesteryear', cursive;
}

.width {
	width: 100%;
	padding: 0 12%;
}

.cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}



@include phone {

	h1 {
		line-height: 3.5rem;
	}

	h2 {
		font-size: 3rem;
		line-height: 3.6rem;
	}

	.width {
		padding: 0 6%;
	}

}
