

footer {
	position: relative;
    height: auto;
    width: 100%;
    padding: 80px 0;
    text-align: center;

	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 60%;
		height: 1px;
		top: 0px;
		left: 20%;
		background-color: $lightGray;		
	}

    .logo-bottom {
    	position: relative;
		width: 80px;
		margin: 0 auto 24px;
		opacity: .3;
		overflow: hidden;

    	svg {
    		@include prefix-transform(translateY(80px));
    		width: 80px;
    		height: 80px;

    		#logo-2 {
    			fill: #dadada;
    		}
    	}

		.wrap-gauge {
			position: absolute;
			top: 30%;
			left: 0;
			display: inline-block;
			width: 60%;
			height: 70%;
			z-index: 2;
    		@include prefix-transform(translateY(100%));

			#gauge-2 {
				display: block;
				position: absolute;
				top: 0;
				width: 100%;
				height: 100%;
				background-color: $lightGray;
				/*transition: all .2s ease-in;*/
			}		
		}    	
    }

    .contact-links {
    	margin-bottom: 40px;

    	ul {
		    display: flex;
		    justify-content: space-between;
		    width: 400px;
		    padding: 0 10px;
		    margin: 0 auto;
		    overflow: hidden;

    		li {
    		@include prefix-transform(translateY(16px));
				
				a {
					position: relative;
					display: inline-block;					
					@extend %hoverLine;					
				}
    		}
    	}
    }

    .copyright {
    	font-size: 1rem;
    }
}

@include phone {
	#contact {
		.contact-links {
			ul {
				width: 90%;
				font-size: 3.5vw;
			}
		}
	}	
}
