
header {
	position: fixed;
	height: 80px;
	width: 100%;
	z-index: 100;

	.menu-content {
		position: absolute;
		right: 4%;
		top: 54px;
		opacity: 0;
		transition: all .6s ease;

		.wrap-links {
			text-align: right;

			li {
				margin-bottom: 8px;
	
				a {
					position: relative;
					display: inline-block;

					@extend %hoverLine;
				}
			}						
		}			
	}

	.wrap-links-sp {
		display: none;
		opacity: 0;
	}	
}

.logo {
	position: fixed;
	top: 54px;
	left: 6%;	
	height: 40px;
	z-index: 150;
	transition: all .6s ease-in;

	svg {
		position: relative;
		width: 40px;
		height: 40px;
		z-index: 5;
	}

	.wrap-gauge {
		position: absolute;
		top: 30%;
		display: block;
		width: 60%;
		height: 70%;
		z-index: 2;

		#gauge {
			display: block;
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $yellow;
		}		
	}

	#logo-rt {
		@include prefix-transform(scale(1));
		transition: all .6s ease-in;
	}

	&.first {
	    top: 50%;
	    left: 50%;
	    position: fixed;
	    top: calc(50% - 120px/2);
	    left: calc(50% - 102px/2);
		transition: all .6s ease-in;

		svg {
			position: relative;
			width: 120px;
			height: 120px;
			z-index: 5;
		}	    

	}

	.piece {
		opacity: 0;
	}
}

#work-page,
#about-page {
	.logo {
		.piece {
			opacity: 1;
		}
	}
}

#bg-white {
	position: fixed;
	display: block;
	top: 0;
	right: 0;
	bottom:0;
	left: 0;
	background-color: #FAFAFA;
	z-index: 100;
	transition: all 4s linear;
}



@include phone {

	header {
		width: 100vw;
		@include prefix-transform(translate3d(0, 0, 0));

		.menu-content{
			top: 32px;

			.wrap-links {
			}		

			&.open-menu-sp {
				opacity: 1;
				visibility: visible;

				.wrap-links-sp {
					li {
						margin-bottom: 32px;

						a {
							opacity: 1;
							letter-spacing: 8px;
							transition: all .6s ease;

							&:after {
								display: none;
							}
						}						
					}	
				}				
			}
		}
	}

	.logo {
		top: 32px;
		left: 6%;
		transition: all .4s ease-in;

		#logo-rt {
			@include prefix-transform(scale(1));
			transition: all .4s ease-in;
		}

		&.first {
		    position: fixed;
		    top: calc(50% - 120px/2);
		    left: calc(50% - 102px/2);

			#logo-rt {
				@include prefix-transform(scale(3));
			}		    
		}		
	}	
}	
