
$yellow: #DEDC00;
$black: #02114B;
$darkGray: #706F6F;
$midleGray: #9D9D9C;
$lightGray: #DADADA;
$bgWhite: #FAFAFA;



/* -----------------------------
	set buger btn base layout
----------------------------- */

%btnset {
	display: inline-block;
	transition: all .4s;
	box-sizing: border-box;
}

@mixin prefix-transform($parameters) {
  -webkit-transform : $parameters;
  -moz-transform    : $parameters;
  -ms-transform     : $parameters;
  transform         : $parameters;
}

@mixin prefix-brightness($parameters) {
	-webkit-filter: brightness($parameters);
	-moz-filter: brightness($parameters);
	-o-filter: brightness($parameters);
	-ms-filter: brightness($parameters);
	filter: brightness($parameters);
}



%hoverLine {

	&:before {
		content: "";
		position: absolute;
		display: block;
		top: 5px;
		left: -10%;
		width: 0%;
		height: 2px;
	    margin: 4px auto 0;
		background-color: $yellow;
		transition: width .3s ease;
	}

	&:hover::before {
		width: 120%;
	}
}


// ICONS HOVER FUNCTION IN ABOUT PAGE
%hoverFicon {

	&:hover {
		.mft {
			opacity: 1;
			@include prefix-transform(translateX(-50%) translateY(-50%));
		}

		svg {
			@include prefix-brightness(1.07);
			.path {
				fill: $yellow;
			}
		}

		&:after {
			height: 100%;
		}
	}
}



@mixin phone {
	@media only screen and (max-width: 768px) {
		@content;
	}
}

@mixin middle {
	@media only screen and (min-width:769px) and (max-width:1140px) {
		@content;
	}
}
